@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5tgfjz');
  src:  url('fonts/icomoon.eot?5tgfjz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5tgfjz') format('truetype'),
    url('fonts/icomoon.woff?5tgfjz') format('woff'),
    url('fonts/icomoon.svg?5tgfjz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
  content: "\e109";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross:before {
  content: "\e117";
}
.icon-ellipsis:before {
  content: "\e129";
}

